<div class="container">
  <div class="alert alert-primary" role="alert" style="color: darkgreen;background-color: lightgreen; margin-top: 1 rem">
        Your order has been placed successfully
  </div>
  <div class="row">
    <table style="
    border-style: double;
    height: 30%;
    white-space: pre-wrap;
    background-color: lightslategray;
">
      <tr>
{{customerAddress}}
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-md-12" style="background-color: lightslategray">
      <div class="jumbotron text-center" style="background-color: lightslategray">
        <h1 class="display-3">Order Summary</h1>
        <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
        <hr>
        <p>

        <p>Order Id : <strong>{{orderId}}</strong></p>
      <!-- </div> -->

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody style="color: floralwhite;font-size: larger">
        <tr *ngFor="let p of products">
          <td>
            <img [src]="p.image" alt="{{p.title}}" class="img-thumbnail" width="100px">
          </td>
          <td>{{p.title}}</td>
          <td>{{p.quantityOrdered}}</td>
          <td>{{p.price | currency:'INR'}}</td>
        </tr>

        <tr class="border-0">
          <td style="border: none;"></td>
          <td></td>
          <td style="font-size: 1.5em; outline-style: auto">TOTAL</td>
          <td style="font-size: 1.5em; outline-style: auto">{{cartTotal | currency:'INR'}}</td>

        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>


