<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
         <div class="footer" style="font-size: small">
            <h3 class="footer-title">About Us</h3>
              <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Bangalore</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+91-99860 77160</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>muralee0702@gmail.com</a></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
